.custom-input {
  width: 50%;
  min-width: 250px;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #2b6cb0;
  border-radius: 8px;
  color: black;
  font-weight: 500;
  cursor: pointer;
}

.custom-input:hover {
  background-color: #ebf8ff;
}
